

body {
  display: flex;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 318px;
  padding: 5px;
  margin: 0 auto;
  background-color: #c6c6c6;
  border: 5px solid white;
  border-right-color: gray;
  border-bottom-color: gray;
}

.game-header {
  display: flex;
  margin:  0 auto;
  justify-content: space-between;
  width: 230px;
  height: 48px;
  border: 5px solid gray;
  border-right-color: white;
  border-bottom-color: white;
}

.start-button {
  width: 39px;
  height: 39px;
  margin: 5px auto;
  background-image: url("./assets/icons/face_unpressed.svg");
  background-position: center;
  background-size: 39px 39px;
}

.start-button:active {
  background-image: url("./assets/icons/face_pressed.svg");
  background-position: center;
  background-size: 39px 39px;
}

.win {
  background-image: url("./assets/icons/face_win.svg");
  background-position: center;
  background-size: 39px 39px;
}

.lose {
  background-image: url("./assets/icons/face_lose.svg");
  background-position: center;
  background-size: 39px 39px;
}

.field {
  width: 240px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 5px solid gray;
  border-right-color: white;
  border-bottom-color: white;
}

.cell {
  width: 24px;
  height: 24px;
}

.closed {
  background: url("./assets/icons/closed.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type0 {
  background: url("./assets/icons/type0.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type1 {
  background: url("./assets/icons/type1.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type2 {
  background: url("./assets/icons/type2.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type3 {
  background: url("./assets/icons/type3.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type4 {
  background: url("./assets/icons/type4.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type5 {
  background: url("./assets/icons/type5.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type6 {
  background: url("./assets/icons/type6.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type7 {
  background: url("./assets/icons/type7.svg");
  background-position: center;
  background-size: 24px 24px;
}

.type8 {
  background: url("./assets/icons/type8.svg");
  background-position: center;
  background-size: 24px 24px;
}

.flag {
  background: url("./assets/icons/flag.svg");
  background-position: center;
  background-size: 24px 24px;
}

.mine {
  background: url("./assets/icons/mine.svg");
  background-position: center;
  background-size: 24px 24px;
}

.mine-red {
  background: url("./assets/icons/mine_red.svg");
  background-position: center;
  background-size: 24px 24px;
}

.flag {
  background: url("./assets/icons/flag.svg");
  background-position: center;
  background-size: 24px 24px;
}

.mine-wrong {
  background: url("./assets/icons/mine_wrong.svg");
  background-position: center;
  background-size: 24px 24px;
}
